<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>User Account Details</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"    type="text/css" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.0/css/bootstrap.css" />
    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>


    <!--display the nav bar-->
    <div class="container-fluid">
        <div th:replace="fragments/header :: header-nav"> </div>
    </div>

    <!--if there's a message, display it-->
    <div class="container mx-auto" th:if="${message != null && message != ''}">
            <br>
            <h3>
                <div class="alert alert-success"  th:text="${message}"></div>
            </h3>
    </div>


    <div class="container mx-auto mt-5">

        <!--if there's an login confirmation request, display a message-->
        <h5 class="alert alert-success" th:if="${loginConfirmation != null && loginConfirmation != ''}" >
                You have been successfully logged in
        </h5>

        <!--if no login confirmation request, display general heading-->
        <h3 th:if="${loginConfirmation == null}">User Account Details</h3>

    <!--user account details table-->
        <br>
        <table class="table table-bordered table-sm">
            <tbody>

            <tr>
                <td class="table-active font-weight-bold w-25">Username</td>
                <td><span th:text="${user.displayName}"></span></td>
            </tr>
            <tr>
                <td class="table-active font-weight-bold">Email</td>
                <td><span th:text="${user.email}"></span></td>
            </tr>
            <tr>
                <td class="table-active font-weight-bold">Authorised Role(s)</td>
                <td><span th:text="${{user.rolesToString()}}"></span></td>
            </tr>

            </tbody>
         </table>


    <!--handle back button requests-->
    <div class="row mx-auto">
        <div th:replace="fragments/view-product :: back-button"> </div>
    </div>

    </div>



</body>
</html>